body{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: #777;
    color: #777;
}
.content{
    padding: 30px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    text-align: center;
    background-color: #ebebeb;
    clear: both;
}
.wrapper{
    overflow: auto;
    display: block;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
    clear: both;
    
}
nav{
}
section{
    padding: 5px;
    background-color: #ebebeb;
    float: left;
    width: 495px;
}
article{
    padding: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color:#777;
}
h1{
    text-align: center;
    background-color: #ebebeb;
}
#pArticle{
    color: #ebebeb;
}
#pP{
    background-color: #ebebeb;
}
aside{
    height: 208px;
    width:425px;
    float: right; 
    background-color: #ebebeb;
}
footer{
}
p{
    text-align: center;
}